{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% if category %}
        {% blocktrans with category=category.name %}
            {{ category.name }}
        {% endblocktrans %}
    {% else %}
        {% trans "Products" %}
    {% endif %}
{% endblock %}
{% block content %}
    <div id="sidebar">
        <h3>{% trans "Categories" %}</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "shop:product_list" %}">{% trans "All" %}</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    {% blocktrans with name=c.name %}
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    {% endblocktrans %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}
                {% blocktrans with name=category.name %}
                    {{ name }}
                {% endblocktrans %}
            {% else %}
                {% trans "Products" %}
            {% endif %}</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}
                            {% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                {% blocktrans with name=product.name %}
                    <a href="{{ product.get_absolute_url }}">{{ name }}</a>
                {% endblocktrans %}
                <br>
                ${{ product.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}